@import "_swiper.scss";

.swiper-outer{
  overflow: hidden;
  position: relative;
  padding: 0;
}
.swiper-container{
  // overflow: visible;
  padding: rem(0);
  // padding-top: rem(5);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  align-items: center;
  background-size: auto;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  float: right;
  position: relative;
  margin-top: 0;
  margin-left: -1px;
  height: 46px;
  width: 46px;
  top: auto;
  .svg--icon{
    height: 10px;
    width: 7px;
  }
  svg{
    height: 10px;
    width: 7px;
    vertical-align: top;
  }
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: rem(0);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: rem(0);
  svg{
    transform:rotate(180deg);
  }
}
.swiper-slide{
  opacity: 0;
  transition: opacity .8s cubic-bezier(.19,1,.22,1);
  &-visible{
    opacity: 1;
  }
}