.recentlyViewed{
  &-header{
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .title{
      margin-bottom: 0;
    }
    .btn--link{
      line-height: rem(_fonts(h2-line-height));
    }
  }
}