$theme-palette:(
  attention--warning--text-color:              _theme-colors(red),
  body-color:                                  _theme-colors(color-1A1A1A),
  body-bg:                                     _theme-colors(white),
  breadcrumb-color:                            _theme-colors(color-1A1A1A),
  breadcrumb-active-color:                     _theme-colors(color-1A1A1A),
  breadcrumb-border-color:                     _theme-colors(color-1A1A1A),
  btn--sorting-color:                          _theme-colors(color-1A1A1A),
  btn--sorting-active-color:                   _theme-colors(color-1A1A1A),

  bootstrap-select-btnText-bgColor:            _theme-colors(transparent),
  bootstrap-select-btnText-borderColor:        _theme-colors(transparent),
  bootstrap-select-dropdown-borderColor:       _theme-colors(grey),
  bootstrap-select-placeholder-color:          _theme-colors(color-1A1A1A),
  bootstrap-select-deselectAll-color:          _theme-colors(color-1A1A1A),
  bootstrap-select-selectAll-color:            _theme-colors(color-1A1A1A),

  callme-borderColor:                          _theme-colors(color-F8F8F8),

  carousel-control-svg-stroke:                 _theme-colors(color-1A1A1A),
  carousel-control-hover-svg-stroke:           _theme-colors(color-F2F2F2),
  carousel-indicator-borderColor:              _theme-colors(light-grey),
  carousel-indicator-active-borderColor:       _theme-colors(color-1A1A1A),

  checkbox--bgColor:                           _theme-colors(white),
  checkbox--borderColor:                       _theme-colors(light-grey),
  checkbox--color:                             _theme-colors(color-1A1A1A),
  checkbox-iconCheck--color:                   _theme-colors(white),
  checkbox-hover--color:                       _theme-colors(color-1A1A1A),
  checkbox-checked--bgColor:                   _theme-colors(white),
  checkbox-checked--borderColor:               _theme-colors(light-grey),
  checkbox-checked--color:                     _theme-colors(color-1A1A1A),
  checkbox-checked-iconCheck--color:           _theme-colors(color-1A1A1A),

  control-label--color:                        _theme-colors(color-1A1A1A),

  dealer-info-block--phone--icon:              _theme-colors(color-1A1A1A),
  dealer-info-block--phone-color:              _theme-colors(color-1A1A1A),

  headings-font-color:                         _theme-colors(color-1A1A1A),

  error-color:                                 _theme-colors(red),

  form-control-borderColor:                    _theme-colors(color-E8E8E8),
  form-control-borderBottomColor:              _theme-colors(color-E8E8E8),
  form-control-color:                          _theme-colors(color-1A1A1A),
  form-control-placeholderColor:               _theme-colors(color-1A1A1A),
  form-control-addon-color:                    _theme-colors(color-1A1A1A),

  jspDrag-bgc:                                 _theme-colors(red),

  instock-block-bgColor:                       _theme-colors(color-1A1A1A),
  instock-block-color:                         _theme-colors(white),
  instock-block-instock-bgColor:               _theme-colors(color-1A1A1A),
  instock-block-instock-color:                 _theme-colors(white),
  instock-block-shipping-bgColor:              _theme-colors(grey),
  instock-block-shipping-color:                _theme-colors(white),
  instock-block-svg:                           _theme-colors(white),
  instock-block-valueColor:                    _theme-colors(red),

  link-color:                                  _theme-colors(color-1A1A1A),
  link-active-color:                           _theme-colors(grey),
  link-hover-color:                            _theme-colors(grey),
  link-hover-underline:                        _theme-colors(transparent),

  modal-link-add-comment:                      _theme-colors(color-1A1A1A),
  modal-agree:                                 _theme-colors(grey),

  model-list-color:                            _theme-colors(dark-grey),
  model-list-bgColor:                          _theme-colors(color-1A1A1A),
  model-list-item--action--bgColor:            _theme-colors(red),
  model-list-item--action--color:              _theme-colors(white),
  model-list-item--name--color:                _theme-colors(color-1A1A1A),
  model-list-item--price--color:               _theme-colors(color-1A1A1A),
  model-list-item--priceAction--color:         _theme-colors(red),
  model-list-item--priceOld--color:            _theme-colors(red),

  nav-tabs-bgColor:                            _theme-colors(color-F7F7F7),
  nav-link-borderColor:                        _theme-colors(transparent),
  nav-link-active-borderColor:                 _theme-colors(color-1A1A1A),
  nav-link-color:                              _theme-colors(color-1A1A1A),
  nav-link-activeColor:                        _theme-colors(color-1A1A1A),

  notifyDiscount-textColor:                    _theme-colors(red),

  noUi-handle--borderColor:                    _theme-colors(color-1A1A1A),
  noUi-handle--bgColor:                        _theme-colors(color-1A1A1A),
  noUi-target--bgColor:                        _theme-colors(color-1A1A1A),
  noUi-connect--bgColor:                       _theme-colors(color-1A1A1A),
  noUi-tip--bgColor:                           _theme-colors(transparent),
  noUi-tooltip--color:                         _theme-colors(color-1A1A1A),

  preloader-first:                             _theme-colors(red),
  preloader-second:                            _theme-colors(color-1A1A1A),
  preloader-third:                             _theme-colors(light-grey),

  peoplebrowsing-svg-triangle:                 _theme-colors(color-1A1A1A),
  peoplebrowsing-svg-exclamation:              _theme-colors(color-1A1A1A),

  separator-line-color:                        _theme-colors(color-1A1A1A),

  sticky-block--toggle-bgColor:                _theme-colors(red),

  swiper-button-borderColor:                   _theme-colors(grey),
  swiper-button-active-borderColor:            _theme-colors(red),
  swiper-button-bgColor:                       _theme-colors(white),
  swiper-button-active-bgColor:                _theme-colors(red),
  swiper-button-svg:                           _theme-colors(grey),
  swiper-button-active-svg:                    _theme-colors(white),

  vehicle-list-item--description-color:        _theme-colors(dark-grey),
  vehicle-list-item--discount-bgColor:         _theme-colors(red),
  vehicle-list-item--discount-color:           _theme-colors(white),
  vehicle-list-item--price-badge-profit:       _theme-colors(red),
  vehicle-list-item--price-color:              _theme-colors(dark-grey),
  vehicle-list-item--priceAction-color:        _theme-colors(red),
  vehicle-list-item--title--link:              _theme-colors(color-1A1A1A),
  vehicle-list-item--svg:                      _theme-colors(grey),
  vehicle-list-item--svg-active:               _theme-colors(dark-grey),

  vehicle-view-oldprice-color:                 _theme-colors(grey),
  vehicle-view-price-svg-color:                _theme-colors(color-1A1A1A),
  vehicle-view-tradein-svgDate:                _theme-colors(red),
  vehicle-view--description-color:             _theme-colors(dark-grey),
  vehicle-view--info-item-label:               _theme-colors(dark-grey),
  vehicle-view--info-item-value:               _theme-colors(color-1A1A1A),
  vehicle-view--info-svg:                      _theme-colors(color-1A1A1A),
);

$theme-datetimepicker:(
  datetimepicker-color:                   _theme-colors(red),
  datetimepicker-color-active:            _theme-colors(red),
  datetimepicker-boxShadowColor:          _theme-colors(red),
);

$fonts-weight:(
  body:                                   200,
  breadcrumb:                             200,
  breadcrumb-active:                      200,
  bootstrap-select:                       400,
  bootstrap-select-dropdown-menu:         300,
  bootstrap-select-btnText:               400,
  btn:                                    600,
  control-label:                          400,
  form-control:                           300,
  h1:                                     400,
  h2:                                     400,
  h3:                                     400,
  h4:                                     400,
  h5:                                     400,
  h6:                                     400,
  link:                                   200,
  modal-title:                            400,
  nav-link:                               300,
  nav-link-active:                        300,
  strong:                                 400,

  biiling-success:                        400,
  biiling-success-h1:                     400,
  biiling-success-card-header-footer:     400,
  btn--reset:                             600,
  collapsetab:                            600,
  creditinfo--sum:                        600,
  dealer-info-block-info:                 300,
  dealer-info-block-phone:                400,
  error-summary:                          400,
  instock-block--button:                  600,
  modalblock-info--item--header:          600,
  modal-video-title:                      600,
  model-list-title--inner:                400,
  model-list-item--action:                300,
  model-list-item--name:                  400,
  model-list-item--price:                 200,
  model-list-item--priceOld:              200,
  specifications-list-value:              400,
  successfully_dealership-phone:          600,
  vehicle-view_carousel-counter:          600,
  vehicle-view-badge-profit:              600,
  vehicle-view-tradein--info-item:        600,
  vehicle-view--price:                    600,
  vehicle-view--info-item-label:          200,
  vehicle-view--info-item-value:          300,
  vehicle-list-item--title:               600,
  vehicle-list-item--title_tradein:       400,
  vehicle-list--image-counter:            400,
  vehicle-list--discount:                 600,
  vehicle-list--link-more:                300,
  vehicle-list--price:                    200,
);

$theme-boolean:(
  colorfilter-round:                      true,
  effect-underline:                       false,
  title-underline:                        true,
);

$theme-btn:(
  color-1A1A1A:(
    background:                           _theme-colors(color-1A1A1A),
    borderTop-color:                      _theme-colors(color-1A1A1A),
    borderRight-color:                    _theme-colors(color-1A1A1A),
    borderLeft-color:                     _theme-colors(color-1A1A1A),
    borderBottom-color:                   _theme-colors(color-1A1A1A),
    color:                                _theme-colors(white),
    svg:                                  _theme-colors(white),
    hover-background:                     _theme-colors(color-1A1A1A),
    hover-borderTop-color:                _theme-colors(color-1A1A1A),
    hover-borderRight-color:              _theme-colors(color-1A1A1A),
    hover-borderLeft-color:               _theme-colors(color-1A1A1A),
    hover-borderBottom-color:             _theme-colors(color-1A1A1A),
    hover-color:                          _theme-colors(white),
    hover-svg:                            _theme-colors(white),
    active-background:                    _theme-colors(color-1A1A1A),
    active-borderTop-color:               _theme-colors(color-1A1A1A),
    active-borderRight-color:             _theme-colors(color-1A1A1A),
    active-borderLeft-color:              _theme-colors(color-1A1A1A),
    active-borderBottom-color:            _theme-colors(color-1A1A1A),
    active-color:                         _theme-colors(white),
    active-svg:                           _theme-colors(white),
  ),
  color-1A1A1A-link:(
    background:                           _theme-colors(transparent),
    borderTop-color:                      _theme-colors(transparent),
    borderRight-color:                    _theme-colors(transparent),
    borderLeft-color:                     _theme-colors(transparent),
    borderBottom-color:                   _theme-colors(transparent),
    color:                                _theme-colors(color-1A1A1A),
    svg:                                  _theme-colors(color-1A1A1A),
    hover-background:                     _theme-colors(transparent),
    hover-borderTop-color:                _theme-colors(transparent),
    hover-borderRight-color:              _theme-colors(transparent),
    hover-borderLeft-color:               _theme-colors(transparent),
    hover-borderBottom-color:             _theme-colors(transparent),
    hover-color:                          _theme-colors(color-1A1A1A),
    hover-svg:                            _theme-colors(color-1A1A1A),
    active-background:                    _theme-colors(transparent),
    active-borderTop-color:               _theme-colors(transparent),
    active-borderRight-color:             _theme-colors(transparent),
    active-borderLeft-color:              _theme-colors(transparent),
    active-borderBottom-color:            _theme-colors(grey),
    active-color:                         _theme-colors(grey),
    active-svg:                           _theme-colors(grey),
  ),
  white:(
    background:                           _theme-colors(white),
    borderTop-color:                      _theme-colors(color-E8E8E8),
    borderRight-color:                    _theme-colors(color-E8E8E8),
    borderLeft-color:                     _theme-colors(color-E8E8E8),
    borderBottom-color:                   _theme-colors(color-E8E8E8),
    color:                                _theme-colors(color-1A1A1A),
    svg:                                  _theme-colors(color-1A1A1A),
    hover-background:                     _theme-colors(white),
    hover-borderTop-color:                _theme-colors(color-E8E8E8),
    hover-borderRight-color:              _theme-colors(color-E8E8E8),
    hover-borderLeft-color:               _theme-colors(color-E8E8E8),
    hover-borderBottom-color:             _theme-colors(color-E8E8E8),
    hover-color:                          _theme-colors(color-1A1A1A),
    hover-svg:                            _theme-colors(color-1A1A1A),
    active-background:                    _theme-colors(white),
    active-borderTop-color:               _theme-colors(color-E8E8E8),
    active-borderRight-color:             _theme-colors(color-E8E8E8),
    active-borderLeft-color:              _theme-colors(color-E8E8E8),
    active-borderBottom-color:            _theme-colors(color-E8E8E8),
    active-color:                         _theme-colors(color-1A1A1A),
    active-svg:                           _theme-colors(color-1A1A1A),
  ),
);

$theme-btn-list:(
  btn--mainButton:                        color-1A1A1A,
  btn--make-prepayment:                   color-1A1A1A,
  btn--getoffer:                          white,
  btn--testdrive:                         white,
  btn--sort:                              color-1A1A1A,
  btn--favorite:                          color-1A1A1A-link,
  btn--share:                             color-1A1A1A-link,
  btn--comparison:                        color-1A1A1A-link,
  btn--credit:                            white,
  btn--exchange:                          white,
  btn--booking:                           white,
  btn--map:                               white,
  btn--next:                              color-1A1A1A,
  btn--last:                              white,
  btn--alloffers:                         white,
  btn--counter-instock:                   color-1A1A1A,
  btn--counter-shipping:                  white,
  btn--counter-empty:                     white,
);
