$theme-colors: (
  transparent:                            transparent,
  white:                                  #ffffff,
  black:                                  #000000,
  dark-green:                             #63B664,
  orange:                                 #F9BF1D,
  dark-blue:                              #0086E7,
  blue:                                   #0074C8,
  red:                                    #FF534E,
  middle-grey:                            #DDDDDD,
  grey:                                   #BABABA,
  dark-grey:                              #333333,

  light-grey:                             #F9F9F9,
);

$theme-size: (
  body-font-size:                         14,
  body-letter-spacing:                    0,
  breadcrumb--size:                       12,
  bootstrapSelect-borderTop-width:        1,
  bootstrapSelect-borderRight-width:      1,
  bootstrapSelect-borderBottom-width:     1,
  bootstrapSelect-borderLeft-width:       1,
  bootstrap-switch-label-size:            21,
  btn-font-size:                          13,
  btn-height:                             46,
  btnGroup-height:                        32,
  btn-borderTop-width:                    1,
  btn-borderRight-width:                  1,
  btn-borderBottom-width:                 1,
  btn-borderLeft-width:                   1,
  btn-borderRadius-size:                  4,
  btn-letter-spacing:                     0.5,
  callme-borderSize:                      10,
  form-control-fontSize:                  14,
  colorList-item--size:                   18,
  colorList-item--borderRadius:           2,
  control-label-fontSize:                 10,
  checkbox-border--size:                  1,
  checkbox-label--size:                   14,
  checkbox--size:                         16,
  checkbox-iconCheck--size:               12,
  h1-font-size:                           24,
  h1-letter-spacing:                      0,
  h1-line-height:                         29,
  h2-font-size:                           22,
  h2-line-height:                         30,
  h3-font-size:                           16,
  h3-line-height:                         19,
  h4-font-size:                           14,
  h4-line-height:                         15,
  h5-font-size:                           12,
  h5-line-height:                         14,
  h6-font-size:                           10,
  h6-line-height:                         12,
  instock-block--button-fontSize:         12,
  nav-link-fontSize:                      14,
  noUi-lineSize:                          5,
  noUi-targetSize:                        18,
  noUi-handleSize:                        18,
  swiper-button-borderRadius:             4,
  dealer-info-block--phone-fontSize:      18,
  dealer-info-block--name-fontSize:       16,
  model-list-title--inner-fontSize:       21,
  model-list-item--name-fontSize:         18,
  model-list-item--action-fontSize:       12,
  model-list-item--price-fontSize:        21,
  model-list-item--priceOld-fontSize:     14,
  vehicle-view--price-size:               32,
  vehicle-view--price-badge-fontSize:     14,
  vehicle-list-item--price-badge:         2,
  vehicle-list-item--title-fz:            16,
  vehicle-list-item--price-fz:            21,
  vehicle-list-item-tradein--title-fz:    16,
  vehicle-list-item--link-more-fontSize:  14,
  vehicle-list-item--borderRadius:        4,
);

$theme-input: (
  btn-textTransform:                          uppercase,
  btn--counter-textTransform:                 uppercase,
  h1-textTransform:                           none,
  h2-textTransform:                           none,
  h3-textTransform:                           none,
  h4-textTransform:                           none,
  label-textTransform:                        none,
  typography-textTransform:                   none,
  nav-link-textTransform:                     none,
  vehicle-list-item--link-more-textTransform: none,
);

$fonts-path:                              '/autocrm10/';

$fonts-list: (
  "400":                                  OpenSansRegular, //regular
  // "500":                                  MMCMedium, //medium
  "600":                                  OpenSansBold,  // bold
);
