$theme-palette:(
  attention--warning--text-color:              _theme-colors(red),
  body-color:                                  _theme-colors(dark-grey),
  body-bg:                                     _theme-colors(white),

  breadcrumb-color:                            _theme-colors(grey),
  breadcrumb-active-color:                     _theme-colors(grey),
  breadcrumb-border-color:                     _theme-colors(transparent),

  btn--sorting-color:                          _theme-colors(blue),
  btn--sorting-active-color:                   _theme-colors(dark-grey),

  bootstrap-select-btnText-bgColor:            _theme-colors(middle-grey),
  bootstrap-select-btnText-borderColor:        _theme-colors(middle-grey),
  bootstrap-select-dropdown-borderColor:       _theme-colors(grey),
  bootstrap-select-placeholder-color:          _theme-colors(grey),
  bootstrap-select-deselectAll-color:          _theme-colors(grey),
  bootstrap-select-selectAll-color:            _theme-colors(blue),

  callme-borderColor:                          _theme-colors(light-grey),

  carousel-control-svg-stroke:                 _theme-colors(middle-grey),
  carousel-control-hover-svg-stroke:           _theme-colors(blue),
  carousel-indicator-borderColor:              _theme-colors(middle-grey),
  carousel-indicator-active-borderColor:       _theme-colors(blue),

  checkbox--bgColor:                           _theme-colors(middle-grey),
  checkbox--borderColor:                       _theme-colors(middle-grey),
  checkbox--color:                             _theme-colors(black),
  checkbox-iconCheck--color:                   _theme-colors(white),
  checkbox-hover--color:                       _theme-colors(black),
  checkbox-checked--bgColor:                   _theme-colors(blue),
  checkbox-checked--borderColor:               _theme-colors(blue),
  checkbox-checked--color:                     _theme-colors(black),
  checkbox-checked-iconCheck--color:           _theme-colors(white),

  control-label--color:                        _theme-colors(black),

  dealer-info-block--phone--icon:              _theme-colors(blue),
  dealer-info-block--phone-color:              _theme-colors(blue),

  error-color:                                 _theme-colors(red),

  headings-font-color:                         _theme-colors(dark-grey),

  form-control-borderColor:                    _theme-colors(middle-grey),
  form-control-borderBottomColor:              _theme-colors(middle-grey),
  form-control-color:                          _theme-colors(black),
  form-control-placeholderColor:               _theme-colors(grey),
  form-control-addon-color:                    _theme-colors(grey),

  jspDrag-bgc:                                 _theme-colors(middle-grey),

  instock-block-bgColor:                       _theme-colors(blue),
  instock-block-color:                         _theme-colors(white),
  instock-block-instock-bgColor:               _theme-colors(blue),
  instock-block-instock-color:                 _theme-colors(white),
  instock-block-shipping-bgColor:              _theme-colors(middle-grey),
  instock-block-shipping-color:                _theme-colors(white),
  instock-block-svg:                           _theme-colors(white),
  instock-block-valueColor:                    _theme-colors(blue),

  link-color:                                  _theme-colors(grey),
  link-active-color:                           _theme-colors(dark-blue),
  link-hover-color:                            _theme-colors(dark-blue),
  link-hover-underline:                        _theme-colors(transparent),

  model-list-color:                            _theme-colors(black),
  modal-link-add-comment:                      _theme-colors(blue),

  model-list-bgColor:                          _theme-colors(light-grey),
  model-list-item--action--bgColor:            _theme-colors(blue),
  model-list-item--action--color:              _theme-colors(white),
  model-list-item--name--color:                _theme-colors(black),
  model-list-item--price--color:               _theme-colors(black),
  model-list-item--priceAction--color:         _theme-colors(red),
  model-list-item--priceOld--color:            _theme-colors(grey),

  nav-tabs-bgColor:                            _theme-colors(transparent),
  nav-link-borderColor:                        _theme-colors(transparent),
  nav-link-active-borderColor:                 _theme-colors(blue),
  nav-link-color:                              _theme-colors(dark-grey),
  nav-link-activeColor:                        _theme-colors(dark-grey),
  notifyDiscount-textColor:                    _theme-colors(blue),

  noUi-handle--borderColor:                    _theme-colors(white),
  noUi-handle--bgColor:                        _theme-colors(blue),
  noUi-target--bgColor:                        _theme-colors(middle-grey),
  noUi-connect--bgColor:                       _theme-colors(blue),
  noUi-tip--bgColor:                           _theme-colors(transparent),
  noUi-tooltip--color:                         _theme-colors(dark-grey),

  preloader-first:                             _theme-colors(blue),
  preloader-second:                            _theme-colors(black),
  preloader-third:                             _theme-colors(middle-grey),

  peoplebrowsing-svg-triangle:                 _theme-colors(orange),
  peoplebrowsing-svg-exclamation:              _theme-colors(dark-grey),

  separator-line-color:                        _theme-colors(light-grey),

  sticky-block--toggle-bgColor:                _theme-colors(blue),
  swiper-button-borderColor:                   _theme-colors(middle-grey),
  swiper-button-active-borderColor:            _theme-colors(blue),
  swiper-button-bgColor:                       _theme-colors(transparent),
  swiper-button-active-bgColor:                _theme-colors(blue),
  swiper-button-svg:                           _theme-colors(grey),
  swiper-button-active-svg:                    _theme-colors(white),

  vehicle-list-item--description-color:        _theme-colors(grey),
  vehicle-list-item--discount-bgColor:         _theme-colors(red),
  vehicle-list-item--discount-color:           _theme-colors(white),
  vehicle-list-item--link-more-color:          _theme-colors(grey),
  vehicle-list-item--price-badge-nds:          _theme-colors(black),
  vehicle-list-item--price-badge-profit:       _theme-colors(red),
  vehicle-list-item--price-color:              _theme-colors(dark-grey),
  vehicle-list-item--priceAction-color:        _theme-colors(red),
  vehicle-list-item--title--link:              _theme-colors(dark-grey),
  vehicle-list-item--svg:                      _theme-colors(grey),
  vehicle-list-item--svg-active:               _theme-colors(dark-grey),

  vehicle-view-oldprice-color:                 _theme-colors(grey),
  vehicle-view-price-svg-color:                _theme-colors(dark-grey),
  vehicle-view-tradein-svgDate:                _theme-colors(blue),
  vehicle-view--description-color:             _theme-colors(grey),
  vehicle-view--info-item-label:               _theme-colors(grey),
  vehicle-view--info-item-value:               _theme-colors(dark-grey),
  vehicle-view--info-svg:                      _theme-colors(dark-grey),
);

$theme-datetimepicker:(
  datetimepicker-color:                        _theme-colors(blue),
  datetimepicker-color-active:                 _theme-colors(blue),
  datetimepicker-boxShadowColor:               _theme-colors(blue),
);


$fonts-weight:(
  body:                                   400,
  breadcrumb:                             400,
  breadcrumb-active:                      400,
  bootstrap-select:                       400,
  bootstrap-select-dropdown-menu:         400,
  bootstrap-select-btnText:               400,
  btn:                                    600,
  control-label:                          600,
  form-control:                           400,
  h1:                                     600,
  h2:                                     600,
  h3:                                     600,
  h4:                                     600,
  h5:                                     600,
  h6:                                     600,
  link:                                   400,
  modal-title:                            600,
  nav-link:                               400,
  nav-link-active:                        400,
  strong:                                 600,

  biiling-success:                        400,
  biiling-success-h1:                     600,
  biiling-success-card-header-footer:     600,
  btn--reset:                             400,
  collapsetab:                            600,
  creditinfo--sum:                        600,
  dealer-info-block-info:                 600,
  dealer-info-block-phone:                600,
  error-summary:                          600,
  instock-block--button:                  600,
  modalblock-info--item--header:          600,
  modal-video-title:                      600,
  model-list-title--inner:                600,
  model-list-item--action:                600,
  model-list-item--name:                  600,
  model-list-item--price:                 600,
  model-list-item--priceOld:              400,
  specifications-list-value:              600,
  successfully_dealership-phone:          600,
  vehicle-view_carousel-counter:          600,
  vehicle-view-badge-profit:              600,
  vehicle-view-tradein--info-item:        600,
  vehicle-view--price:                    600,
  vehicle-view--info-item-label:          400,
  vehicle-view--info-item-value:          400,
  vehicle-list-item--title:               400,
  vehicle-list-item--title_tradein:       400,
  vehicle-list--image-counter:            600,
  vehicle-list--discount:                 600,
  vehicle-list--link-more:                600,
  vehicle-list--price:                    600,
);

$theme-boolean:(
  colorfilter-round:                      false,
  effect-underline:                       false,
  title-underline:                        false,
);

$theme-btn:(
  white: (
    background:                           _theme-colors(white),
    borderTop-color:                      _theme-colors(middle-grey),
    borderRight-color:                    _theme-colors(middle-grey),
    borderLeft-color:                     _theme-colors(middle-grey),
    borderBottom-color:                   _theme-colors(middle-grey),
    color:                                _theme-colors(dark-grey),
    svg:                                  _theme-colors(blue),
    hover-background:                     _theme-colors(dark-blue),
    hover-borderTop-color:                _theme-colors(dark-blue),
    hover-borderRight-color:              _theme-colors(dark-blue),
    hover-borderBottom-color:             _theme-colors(dark-blue),
    hover-borderLeft-color:               _theme-colors(dark-blue),
    hover-color:                          _theme-colors(white),
    hover-svg:                            _theme-colors(white),
    active-background:                    _theme-colors(dark-blue),
    active-borderTop-color:               _theme-colors(dark-blue),
    active-borderRight-color:             _theme-colors(dark-blue),
    active-borderBottom-color:            _theme-colors(dark-blue),
    active-borderLeft-color:              _theme-colors(dark-blue),
    active-color:                         _theme-colors(white),
    active-svg:                           _theme-colors(white),
  ),
  blue: (
    background:                           _theme-colors(blue),
    borderTop-color:                      _theme-colors(blue),
    borderRight-color:                    _theme-colors(blue),
    borderLeft-color:                     _theme-colors(blue),
    borderBottom-color:                   _theme-colors(blue),
    color:                                _theme-colors(white),
    svg:                                  _theme-colors(white),
    hover-background:                     _theme-colors(dark-blue),
    hover-borderTop-color:                _theme-colors(dark-blue),
    hover-borderRight-color:              _theme-colors(dark-blue),
    hover-borderBottom-color:             _theme-colors(dark-blue),
    hover-borderLeft-color:               _theme-colors(dark-blue),
    hover-color:                          _theme-colors(white),
    hover-svg:                            _theme-colors(white),
    active-background:                    _theme-colors(dark-blue),
    active-borderTop-color:               _theme-colors(grey),
    active-borderRight-color:             _theme-colors(grey),
    active-borderBottom-color:            _theme-colors(white),
    active-borderLeft-color:              _theme-colors(grey),
    active-color:                         _theme-colors(white),
    active-svg:                           _theme-colors(white),
  ),
  blue-link:(
    background:                           _theme-colors(transparent),
    borderTop-color:                      _theme-colors(transparent),
    borderRight-color:                    _theme-colors(transparent),
    borderLeft-color:                     _theme-colors(transparent),
    borderBottom-color:                   _theme-colors(transparent),
    color:                                _theme-colors(blue),
    svg:                                  _theme-colors(blue),
    hover-background:                     _theme-colors(transparent),
    hover-borderTop-color:                _theme-colors(transparent),
    hover-borderRight-color:              _theme-colors(transparent),
    hover-borderBottom-color:             _theme-colors(transparent),
    hover-borderLeft-color:               _theme-colors(transparent),
    hover-color:                          _theme-colors(dark-blue),
    hover-svg:                            _theme-colors(dark-blue),
    active-background:                    _theme-colors(transparent),
    active-borderTop-color:               _theme-colors(transparent),
    active-borderRight-color:             _theme-colors(transparent),
    active-borderBottom-color:            _theme-colors(transparent),
    active-borderLeft-color:              _theme-colors(transparent),
    active-color:                         _theme-colors(dark-blue),
    active-svg:                           _theme-colors(dark-grey),
  ),
);

$theme-btn-list:(
  btn--mainButton:                        blue,
  btn--make-prepayment:                   blue,
  btn--testdrive:                         white,
  btn--getoffer:                          white,
  btn--sort:                              white,
  btn--favorite:                          blue-link,
  btn--share:                             blue-link,
  btn--comparison:                        blue-link,
  btn--credit:                            white,
  btn--exchange:                          white,
  btn--booking:                           white,
  btn--map:                               white,
  btn--next:                              blue,
  btn--last:                              white,
  btn--alloffers:                         white,
  btn--counter-instock:                   white,
  btn--counter-shipping:                  white,
  btn--counter-empty:                     white,
);
